body{
    margin: 0;
}

.color{
    color: #031b4e;
}

.container{
    text-align: center;
}

.keep-learning{
    display: flex;
    margin-bottom: 3rem;
}

.container-recommended{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.curses{
    display: flex;
}

.car-curse{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    width: 20%px;
}

.car-curse:hover{
    background-color: #c9d9f4;
}

.container-image{
    padding: 10px;
    margin-right: 10px;
}

.description-curse{
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.active-certification{
    height: 30px;
    background-color: #031b4e;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}


.active-certification:hover{
    border: 1px solid #ccc;
    font-weight: bold;
}

.name-curse, .category{
    margin: 0;
}

.complete-curse{
    display: flex;
}


.more-curses{
    display: flex;
    align-items: center;
}

.more-curses img{
    width: 40px;
}

.curse-recommended{
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    width: 25%;
    margin-bottom: 1rem;
}

.curse-recommended:hover{
    border: 2px solid #ccc;
}

.img-recommended, .more-curses image{
    width: 80px;
    margin-right: 0.5rem;
}

.curse-recommended h4{
    font-size: 20px;
}

.info-curse{
    display: flex;
    justify-content: center;
}

@media only screen and (max-device-width: 1025px){
    

    .learning, .container-recommended{
        text-align: center;
    }

    .curses{
        flex-direction: column;
    }

    .container-recommended {
        display: grid;
        gap: 5px;
        margin-bottom: 3rem;
    }

    .car-curse{
        width: 300px;
    }

    .info-curse{
        justify-content: center
    }

    .curse-recommended{
        width: 300px;
    }
}


@media screen and (max-device-width: 668px){
    .car-curse{
        width: 250px;
    }
}